.cards {
  display: flex;
  flex-direction: row;
}
.main{
  display: flex;
  align-items: center;
}

/* html, body{

} */

.signInButton {
  float: right;
}

#indexImage{
  max-width: 30%;
  max-height:  30%;
   display: flex;
  align-items: center;
  justify-content: center;
}